

  mat-grid-tile {
    background: lightblue;
  }


  /* .example-container {
    position: relative;
  }
  
  .example-table-container {
    position: relative;
    min-height: 200px;
    max-height: 400px;
    overflow: auto;
  } */
  
  table {
    width: 100%;
  }

  .mat-mdc-header-row {
    background-color: #275883; font-style:italic;
  }

  ::ng-deep .mat-sort-header-arrow {
    color: black;
  }

  .testFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items:center;
    justify-content:space-evenly;
  }

  .mat-mdc-header-cell {
    font-size:medium;
    font-weight: bold;
    color: aliceblue;
  }

  .mat-sort-header{
    align-items: center;
  }
  
  .example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .example-rate-limit-reached {
    max-width: 360px;
    text-align: center;
  }

  .mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }


.error {
  color: red;
}
.error-msg {
  display: block;
  position: absolute;
  font-size: 75%;
  bottom: -2em;
}
  

  /* .mat-column-year,.mat-column-agencyYear,.mat-column-agencyRate,
  .mat-column-repairCondition {
    max-width: 40px;
  }
  
  .mat-column-make,.mat-column-model,.mat-column-spec {
    max-width: 150px;
  }

.mat-header-row,
.mat-row {
    display: inline-flex;
    min-width: 100%;
} */
  