<div>
    <div class="testFlex">
        <mat-form-field>
            <mat-label>Select a Make</mat-label>
            <mat-select [(ngModel)]="makeSelected">
                <mat-option *ngFor="let item of makeList()" [value]="item">{{item}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Select a Model</mat-label>
            <mat-select [(ngModel)]="modelSelected">
                <mat-option *ngFor="let item of modelList()" [value]="item">{{item}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Select a Specification</mat-label>
            <mat-select [(ngModel)]="specSelected">
                <mat-option *ngFor="let item of specList()" [value]="item">{{item}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Select Year</mat-label>
            <mat-select [(ngModel)]="yearSelected">
                <mat-option *ngFor="let item of yearList" [value]="item">{{item}}</mat-option>
            </mat-select>
        </mat-form-field>
        <div>
            <button mat-raised-button color="accent" (click)="searchRates()">Search</button>
        </div>
    </div>
</div>


<div class="example-container mat-elevation-z8">

    <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
            GitHub's API rate limit has been reached. It will be reset in one minute.
        </div>
    </div>

    <form [formGroup]="agencyForms">
        <ng-container formArrayName="agencyRows" class="example-table-container">
            <mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
                class="mat-elevation-z8">

                <ng-container matColumnDef="package">
                    <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by package"> package
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element; let i =index" [formGroup]="element">
                        <mat-form-field appearance="outline">
                            <input matInput type="text" formControlName="package" [readonly]="!isEditable">
                        </mat-form-field>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="make">
                    <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Make"> Make
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element; let i =index" [formGroup]="element">
                        <mat-form-field appearance="outline">
                            <input matInput type="text" formControlName="make" [readonly]="!isEditable">
                            <!-- <div *ngIf="agencyForms.controls['agencyRows']['make'].errors && !agencyForms.controls['agencyRows']['element'].pristine" class="error-msg">
                                <div [hidden]="!agencyForms.controls['agencyRows']['element'].errors['required']">Make is required.</div>
                            </div> -->
                        </mat-form-field>

                    </mat-cell>
                </ng-container>


                <ng-container matColumnDef="model">
                    <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Model">
                        Model </mat-header-cell>
                    <mat-cell *matCellDef="let element; let i =index" [formGroup]="element">
                        <mat-form-field appearance="outline">
                            <input matInput type="text" formControlName="model" [readonly]="!isEditable">
                        </mat-form-field>
                    </mat-cell>
                </ng-container>


                <ng-container matColumnDef="spec">
                    <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Specification">
                        Specification </mat-header-cell>
                    <mat-cell *matCellDef="let element; let i =index" [formGroup]="element">
                        <mat-form-field appearance="outline">
                            <input matInput type="text" formControlName="spec" [readonly]="!isEditable">
                        </mat-form-field>
                    </mat-cell>
                </ng-container>


                <ng-container matColumnDef="year">
                    <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Year"> Year
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element; let i =index" [formGroup]="element">
                        <mat-form-field appearance="outline">
                            <input matInput type="text" formControlName="year" [readonly]="!isEditable">
                        </mat-form-field>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="agencyYear">
                    <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Agency Year">
                        Agency year </mat-header-cell>
                    <mat-cell *matCellDef="let element; let i =index" [formGroup]="element">
                        <mat-form-field appearance="outline">
                            <input matInput type="text" formControlName="agencyYear" [readonly]="!isEditable">
                        </mat-form-field>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="agencyRate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Agency Rates">
                        Agency Rates </mat-header-cell>
                    <mat-cell *matCellDef="let element; let i =index" [formGroup]="element">
                        <mat-form-field appearance="outline">
                            <input matInput type="text" formControlName="agencyRate" [readonly]="!isEditable">
                        </mat-form-field>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="repairCondition">
                    <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Repair Condition">
                        Repair Condition </mat-header-cell>
                    <!-- <td mat-cell *matCellDef="let element">
                            <ng-container *ngIf="isEditable; else repairInput" [formGroup]="element">
                                {{element.repairCondition}}
                            </ng-container>
                            <ng-template #repairInput>
                                <input type="text"  {{element.repairCondition}} />
                            </ng-template>
                            {{element.repairCondition}}
                        </td> -->

                    <mat-cell *matCellDef="let element; let i =index" [formGroup]="element">
                        <mat-form-field appearance="outline">
                            <input matInput type="text" formControlName="repairCondition" [readonly]="!isEditable">
                        </mat-form-field>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>

            <!-- <mat-paginator [pageSizeOptions]="[4, 8, 16]" showFirstLastButtons
                    aria-label="Select page of agency rates">
                </mat-paginator> -->

        </ng-container>
    </form>


</div>
<div class="row" style="padding: 1rem;">
    <div class="col text-end">
        <button mat-raised-button (click)="toogleIsEditable()" color="primary" *ngIf="!isButtonEnabled">Edit</button>
        <button mat-raised-button (click)="toogleIsSaveable()" color="primary" *ngIf="isButtonEnabled">Save</button>
    </div>
    <div class="col text-start">
        <button mat-raised-button color="warn" *ngIf="!isButtonEnabled">Submit</button>
        <button mat-raised-button (click)="toogleIsCancelable()" color="warn" *ngIf="isButtonEnabled">Cancel</button>
    </div>
</div>