<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content style="color: black;font-size: medium;">{{description}}</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
