<header class="">
  <div class="headerFlex">
    <!-- <div class="col-4"> -->
      <nav class="navbar">
        <div class="container-fluid">
          <a class="navbar-brand" >
            <img src="../img/layout_set_logo.png" alt="Abu Dhabi Insurance Company" width="40%" >
          </a>
        </div>
      </nav>
    <!-- </div> -->
    <div  style="color: #275883;padding:1rem">
      <h3 ><b><i>Agency Rates</i></b></h3>
    </div>
  </div>
  
</header>

<main>
  <app-agency></app-agency>
</main>

<footer id="footer" style="background:#275883;">
  <div class="">
      <div class="copyright" style="color: white; text-align: left; margin-left: 5%">
  <span class="brand" style="color: white; font-size: 12px; text-align: center">ADNIC
  © 2023. All rights reserved</span>
      </div>
  </div>
</footer>

<!-- <footer class="bg-primary">
  <div>
    <span class="brand" style="color: white; font-size: 12px; text-align: center">ADNIC © 2016. All rights reserved</span>
  </div>
</footer> -->