.headerFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-items:center;
    justify-content:center;
  }



  #footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;  
 }